<p>ellipsis-title works!</p>
<div appEllipsifyMe>
    gsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsg
</div>
<p appEllipsifyMe>gsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsg</p>
<p appEllipsifyMe>no ellipsise</p>
<div appEllipsifyMe style="width:200px">
    gsgsgsgsgsgsgsgsgsgggsgsgsg
</div>