<p>ellipsis-title works!</p>
<div appEllipsifyMe>
    gsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsg
</div>
<p appEllipsifyMe>gsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsggsgsgsgsgggsgsggsggsgsgsggsgsggsgsgsgggsgsgsgsggsgsgsgsgsgsgsg</p>