<p>dynamic-validation-add-removegs works!</p>
<form [formGroup]='formName' >
    <input formControlName='inputName'>
    <div *ngIf="formName.get('inputName').errors && submitted">
    <span class="error" *ngIf ="formName.get('inputName').errors['required']">This field is required</span>
    </div>
    <div>
        <input type="radio" formControlName='terms&condition' [value]="0"><label>Accept</label>
        <input type="radio" formControlName='terms&condition' [value]="1"><label>Accept and reason</label>
        <input type="radio" formControlName='terms&condition' [value]="2"><label>decline</label>
        <div *ngIf="formName.get('terms&condition').errors && submitted">
        <span class="error" *ngIf ="formName.get('terms&condition').errors['required']">terms & condition is required</span>
        </div> 
    </div>
    <div style="display:flex;gap:20px">
       <div>
        <label>First name</label>
        <input formControlName='firstname'>
        <div *ngIf="formName.get('firstname').errors && submitted">
        <span class="error" *ngIf ="formName.get('firstname').errors['required']">This firstname is required</span>
    </div>
        <br>
    <label>Last name</label>
    <input formControlName='lastname'>
        <div *ngIf="formName.get('lastname').errors && submitted">
        <span class="error" *ngIf ="formName.get('lastname').errors['required']">This lastname is required</span>
        </div>    
       </div> 
       <div>
           <label>Reason</label>
        <input formControlName='reason'>
        <div *ngIf="formName.get('reason').errors && submitted">
        <span class="error" *ngIf ="formName.get('reason').errors['required']">This reason is required</span>
        </div>
       </div> 
    </div>
    </form>
    <button (click)="submit()">Submit</button>                      
    <p> valid: {{ formName.valid }}</p>
    <p> invalid: {{ formName.invalid }}</p>
    <p> value: {{ formName.value|json }}</p>