<p>custom-validation-sg works!</p>
<p>dynamic-validation-add-removegs works!</p>
<form [formGroup]='formName' >
    <input formControlName='inputName'>
    <div *ngIf="formName.get('inputName').errors && submitted">
    <span class="error" *ngIf ="formName.get('inputName').errors['required']">This field is required</span>
    <span class="error" *ngIf ="formName.get('inputName').errors['invalidAlphanumeric']">Invalid alpha numeric.only numbers alphabets . are allowed</span>
    </div>
    </form>
    <button (click)="submit()">Submit</button>                      
    <p> valid: {{ formName.valid }}</p>
    <p> invalid: {{ formName.invalid }}</p>
    <p> value: {{ formName.value|json }}</p>