<p>multi-level-checkbox-setvalue works!</p>
<div *ngFor="let sg of data;let i=index">
    <input type="checkbox" (change)="changeEvent('selectAll',sg,i)" [(ngModel)]="sg.checked">
    <label style="font-size: 20px;">{{sg.name}}</label>
<br>
<div style="margin-left: 7px;">
<ng-container *ngFor="let gs of sg.childData">
    <input type="checkbox" [(ngModel)]="gs.checked" (change)="changeEvent('select',sg,i)">
    <label>{{gs.childname}}</label>
    <br>  
</ng-container>
</div>
</div>
<h2>checked data</h2> - {{selectedDatasg|json}}
<br>
<h2>checked data id</h2> - {{selectedDataId|json}}