<p>reactive-form-checkbox-sg works!</p>
<form [formGroup]="formName">
<ul>
    <li *ngFor="let item of listSG">
      <input type="checkbox" [id]="'gs'+item.id" [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" (change)="result(item)">
      <label [for]="'gs'+item.id">{{item.title}}-{{item.age}}</label>
    </li>
  </ul>
  <p class="error" *ngIf="formName.controls?.checkbox?.errors?.required">
    Checkbox is required, select atleast one value.
  </p>
</form>
{{this.formName.value.checkbox|json}}